table, td, th {
    width: 400px;
    border-collapse: collapse;
}

.profile{
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 180px;
    z-index: 99;
}
.bgname{
    color: white;
    text-shadow: 2px 2px 8px #000000;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.name{
    font-size: 25PX ;
    padding-top: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.picholder{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: url("https://www.becode.org/register/assets/images/logo_footer_small.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.quote{
    text-align: center;
}
.tablecont{
    float: left;
}
.summ{
    padding-left: 20px;
    float: left;
    width: 500px;

}
.binfocontainer{
    height: 170PX;
    width: 100%;
}
.count{
    float: right;
    width: 500px;

}

.hob{
    height: 400px;
    width: auto;

}

.container{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body{
    font-family: 'Darker Grotesque', sans-serif;
    background-color: white;
}


.line{
    height: 1px;
    background-color: black;
    width: auto;
}

.inftext{
    font-size: large;
}
.hobbti{
    text-align: center;
}
.Row {
    height: 100px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
}
.Column {
    align-content: center;
    display: table-cell;
}

.box{
    padding-left: 130px;
    flex-grow: 1;

}
.dotscontent{
    align-content: center;
    display: flex;
}